<html>
	<head>
		<title>Guest Page</title>

		<link rel='stylesheet' type='text/css' href='css/general.css'>
		<link rel='stylesheet' type='text/css' href='css/nav.css'>
		<link rel='stylesheet' type='text/css' href='css/index.css'>
		<link rel='stylesheet' type='text/css' href='css/tableview.css'>

		<script type='text/javascript' src='js/jquery/jquery.min.js'></script>
	</head>

	<body>
		<div id='header1'>
			<img src='img/logo.png'>
		</div>

		<div id='header2'>
			<h2>Myton IT Booking System</h2>

			<h3>Welcome {{user}}, click <a href='/index'>here</a> to logout.
		</div>

		<div id='nav'>
			<ul>
				<li><span id='C1' class='selected'>C1</span></li>
				<li><span id='C2'>C2</span></li>
				<li><span id='C3'>C3</span></li>
				<li><span id='C4'>C4</span></li>
				<li><span id='C5'>C5</span></li>
				<li><span id='C6'>C6</span></li>
				<li><span id='C7'>C7</span></li>
				<li><span id='C8'>C8</span></li>
				<li><span id='C9'>C9</span></li>
				<li><span id='C10'>C10</span></li>
				<li><span id='C11'>C11</span></li>
				<li><span id='C12'>C12</span></li>
			</ul>
		</div>

		<div id='content'>
			<div id='C1Content' class='timetableContainer'>
				Bookings for C1
				{{{tables.c1tables.table1}}}
				<br>
				{{{tables.c1tables.table2}}}
				<br>
				{{{tables.c1tables.table3}}}
			</div>
			<div id='C2Content' class='timetableContainer'>
				Bookings for C2
				{{{tables.c2tables.table1}}}
				<br>
				{{{tables.c2tables.table2}}}
				<br>
				{{{tables.c2tables.table3}}}
			</div>
			<div id='C3Content' class='timetableContainer'>
				Bookings for C3
				{{{tables.c3tables.table1}}}
				<br>
				{{{tables.c3tables.table2}}}
				<br>
				{{{tables.c3tables.table3}}}
			</div>
			<div id='C4Content' class='timetableContainer'>
				Bookings for C4
				{{{tables.c4tables.table1}}}
				<br>
				{{{tables.c4tables.table2}}}
				<br>
				{{{tables.c4tables.table3}}}
			</div>
			<div id='C5Content' class='timetableContainer'>
				Bookings for C5
				{{{tables.c5tables.table1}}}
				<br>
				{{{tables.c5tables.table2}}}
				<br>
				{{{tables.c5tables.table3}}}
			</div>
			<div id='C6Content' class='timetableContainer'>
				Bookings for C6
				{{{tables.c6tables.table1}}}
				<br>
				{{{tables.c6tables.table2}}}
				<br>
				{{{tables.c6tables.table3}}}
			</div>
			<div id='C7Content' class='timetableContainer'>
				Bookings for C7
				{{{tables.c7tables.table1}}}
				<br>
				{{{tables.c7tables.table2}}}
				<br>
				{{{tables.c7tables.table3}}}
			</div>
			<div id='C8Content' class='timetableContainer'>
				Bookings for C8
				{{{tables.c8tables.table1}}}
				<br>
				{{{tables.c8tables.table2}}}
				<br>
				{{{tables.c8tables.table3}}}
			</div>
			<div id='C9Content' class='timetableContainer'>
				Bookings for C9
				{{{tables.c9tables.table1}}}
				<br>
				{{{tables.c9tables.table2}}}
				<br>
				{{{tables.c9tables.table3}}}
			</div>
			<div id='C10Content' class='timetableContainer'>
				Bookings for C10
				{{{tables.c10tables.table1}}}
				<br>
				{{{tables.c10tables.table2}}}
				<br>
				{{{tables.c10tables.table3}}}
			</div>
			<div id='C11Content' class='timetableContainer'>
				Bookings for C11
				{{{tables.c11tables.table1}}}
				<br>
				{{{tables.c11tables.table2}}}
				<br>
				{{{tables.c11tables.table3}}}
			</div>
			<div id='C12Content' class='timetableContainer'>
				Bookings for C12
				{{{tables.c12tables.table1}}}
				<br>
				{{{tables.c12tables.table2}}}
				<br>
				{{{tables.c12tables.table3}}}
			</div>
		</div>
	</body>

	<script type='text/javascript' src='js/navigation.js'></script>
</html>