<html>
	<head>
		<title>Help Page</title>

		<link rel='stylesheet' type='text/css' href='css/help.css'>
	</head>

	<body>
		<div id='container'>
			<h2>Welcome to the Myton IT Help Centre!</h2> <br>

			<p>
				<b>Login Help:</b> <br>
				To login, simply click the 'White Orb' in the centre of the login page, and then fill in the credentials requested! If you do not know your username or password, simply ask the administrator to check it for you. <br>
				<a href='/'>Click me to login now.</a>
			</p>

			<p>
				<b>Booking Help:</b> <br>
				To make a booking, you first must be a member of staff. After that login to your staff account and select the room that you want to book for using the selection bar at the top of the page. <br>
				Once you have selected the room, you can select the period and day you want to book for. Simply find the period and day you want to book for using the timetable view that is conveniently laid out the same as your school timetable! When you have selected the booking that you want, pick the Year Group from the drop down and click 'Book'. Congratulations, your booking request has now been made!
			</p>

			<p>
				<b>Admin Help:</b> <br>
				The admin has a larger feature set than the standard user. As of this, the usage of these features will be outlined here, however for a more detailed guide on using the system, please see the User and Admin Guide provided with the system.
			</p>

			<p>
				<b>Create a new user:</b> <br>
				To create a new user, use the form provided on the main page of the admin form. Enter the username and password that the user will be using. Once this is entered, simply click submit. A message will be displayed, letting you know whether it was added successfully or not.
			</p>
			<p>
				<b>Fill term dates:</b> <br>
				To get to this part of the system, use the navigation bar along the top of the admin page. The date filler is the second item along. Once on this page, enter all of the dates that it requests. These should be in a DD/MM/YYYY format, and should all be for the Monday within the requested week. A message will be displayed, letting you know whether it was added successfully or not.
			</p>
			<p>
				<b>Add set bookings:</b> <br>
				The set booking page is also accessed via the navigation bar in the admin page. This is te third element along. Once in this view, you will be presented with a timetable view that matches the normal layout of a regular school timetable. Simply enter the required data into the respective booking, and click 'Book' in each of the bookings. Your set booking will be then added to the timetable.
			</p>
			<p>
				<b>Booking Authorization</b> <br>
				Booking authorization is the last tab in the navigation page on the admin page. This page also presents you with a timetable view, however it is for the current week, as well as the two following weeks. All rooms that have booking request's made will be displayed in the table. Using the drop downs that are created, you can select the user that you want to authorize the booking for. Once selected click 'Authorize' and this will be completed!
			</p>

			<p>
				<b>For more indepth help, please consult the user and admin guide that was provided with the system.</b>
			</p>
		</div>
	</body>
</html>