<html>
	<head>
		<title>Login</title>

		<link rel='stylesheet' type='text/css' href='css/general.css'>
		<link rel='stylesheet' type='text/css' href='css/index.css'>
	</head>

	<body>
		<div id='loginButton'>
			<div class='loginText'>
				Login
			</div>	

			<div id='loginMessage'>
				{{loginMessage}}
			</div>
		</div>	

		<div id='formForLogin'>
			<form id='loginForm' action="/login" method="post">
				Username: <br>
			    <input type="text" name="username" class='textbox-grey'><br>
			    Password: <br>
			    <input type="password" name="password" class='textbox-grey'><br>
				
				<input type="submit" value="Submit">
			</form>
		</div>		
	</body>

	<script type='text/javascript' src='js/jquery/jquery.min.js'></script>
	<script type='text/javascript' src='js/index.js'></script>
</html>