.textbox-grey {
	border-radius: 125px;
	padding-left: 5px;

	border: 0px solid;

	color: #ecf0f1;
	background-color: #171717;

	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.textbox-grey:active,
.textbox-grey:focus {
	border: 0px solid;
	outline: 0;

	background-color: #595959;
}