@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
	background-color: #da0a00;
	padding: 0;
	margin: 0;

	min-width: 750px;

	color: #171717;
	font-family: 'Raleway', sans-serif;
}

#header1 {
	background-color: #ecf0f1;

	width: 100%;
	height: auto;
	text-align: center;
}
#header1:before {
	content: '';
	display: inline-block;
	height: 350px;
	vertical-align: middle;
	margin-right: -0.25em;
}

#header1 img {
	display: inline-block;
	vertical-align: middle;

	width: 250px;
	height: 250px;
}

#header2 {
	width: 100%;
	height: 80px;

	margin-top: 0;
	margin-bottom: 0;

	background-color: #ecf0f1;
}

#header2 h2,
#header2 h3 {
	background-color: #ecf0f1;

	margin-top: 0;
	margin-bottom: 0;

	padding: 25px;
}

#header2 h2 {
	float: left;
}

#header2 h3 {
	float: right;
}
#header2 h3 a {
	color: #da0a00;

	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
#header2 h3 a:hover {
	color: #000000;
}

#content {
	background-color: #da0a00;

	width: 100%;
	height: auto;

	padding-top: 25px;
	padding-bottom: 25px;
}

p {
	color: #ffffff;
}

a {
	color: #000000;
}
a:hover {
	color: #fdffb6;
}