@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
	background-color: #da0a00;
	padding: 0;
	margin: 0;

	min-width: 750px;

	color: #171717;
	font-family: 'Raleway', sans-serif;
}

#container {
	width: 750px;
	height: auto;

	padding-top: 15px;

	margin: auto;
}

h2,
p {
	text-align: center;
}

p {
	color: #ffffff;
}

h2,
b {
	color: #000000;
}

a {
	color: #000000;

	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
a:hover {
	color: #ffffff;
}