#loginButton {
	width: 200px;
	height: 200px;

	position: fixed;
	top: 50%;
	left: 50%;

	margin-top: -100px;
	margin-left: -100px;

	border: 0px solid;
	border-radius: 123456789px;

	background-color: #ecf0f1;
	color: #171717;

	text-align: center;
	line-height: 200px;
	font-size: 50px;

	cursor: pointer;
	
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
#loginButton:hover {
	width: 150px;
	height: 150px;

	line-height: 150px;
	font-size: 37.5px;

	margin-top: -75px;
	margin-left: -75px;
}

#formForLogin {
	width: 400px;
	height: 400px;

	position: fixed;
	top: 50%;
	left: 50%;

	margin-top: -200px;
	margin-left: -200px;

	border: 0px solid;
	border-radius: 123456789px;

	background-color: #ecf0f1;
	color: #171717;

	text-align: center;
}

#loginMessage {
	text-align: center;
	width: 400px;

	font-size: 20px;
	line-height: 50px;

	position: fixed;
	left: 50%;
	margin-left: -200px;

	top: 50%;
	margin-top: 100px;
}

#formForLogin form {
	margin-top: 143px;
}