#nav {
	/* size here */
	position: relative;
	width: 100%;
	height: 50px;

	overflow: hidden;

	background-color: #ecf0f1;
}

#nav ul {
	margin-top: 0;
	margin-bottom: 0;

	margin-left: auto;
	margin-right: auto;

	width: 750px;
	height: 50px;

	list-style: none;

	/*left: 50%;*/
}

#nav ul li {
	line-height: 45px;
	float: left;

	width: 62px;

	text-align: center;
}

#nav ul li span {
	color: black;

	cursor: pointer;

	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
#nav ul li span:hover {
	color: #da0a00;
}

#nav ul li .selected {
	color: #da0a00;

	border-bottom: 1px solid;
}