table, td {
	border: 1px solid #000000;

	text-align: center;
}

td button {
	margin-left: auto;
	margin-right: auto;
}

.timetableContainer {
	width: 818px;

	margin-left: auto;
	margin-right: auto;
}